<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- To log Cassandra DDLs (CREATE TABLE, ...) -->
    <!--logger name="ACHILLES_DDL_SCRIPT">
        <level value="DEBUG" />
    </logger-->

    <!-- To log Poll DML (INSERT INTO doodle.poll, ...) -->
    <!--logger name="ch.noisette.doodle.entity.Poll">
        <level value="TRACE" />
    </logger-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>